
   
        nav .logo{
            width: 80px;
            }
    
        nav ul li{
            list-style: none;
            display: inline-block;
            margin-left: 40px;
        }
    
        nav ul li a{
            text-decoration: none;
            color: black;
            font-size: 17px;
        }
    
        nav{
            width: 100%;
            /* position: absolute; */
            top: 0;
            left: 0;
            padding: 20px 8%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: url(./navba.jpg);
        }
    
        .portfolio{
            width:100%;
            height: 100vh;
            /* background-image: url(./navba.jpg);
            position: relative; */
            padding: 0 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-attachment: fixed;
        }
    
        .content h1{
            font-size: 160px;
            color: black;
            font-weight: 600;
            transition: 0.5s;
            text-align: center;
        }
    
        .back{
           background-image: url(./COD.png);
           background-attachment: fixed;
           background-repeat: no-repeat;
           background-position: center;
        }
    
         .content h1:hover{
            -webkit-text-stroke: 2px black;
            color: transparent;
        }
    
        .me{
            float: right;
            border-radius: 50px;
        }
    
        /* .content a{
            text-decoration: none;
            display: inline-block;
            color: #FAE01E;
            font-size: 24px;
            border: 2px solid black;
            padding: 14px 70px;
            border-radius: 50px;
            margin-top: 20px;
        } */
    
        .fa-youtube{
            font-size: 50px;
            color: red;
        }
        .fa-square-x-twitter{
            font-size: 50px;
            color: black;
        }
    
        .fa-instagram{
            font-size: 50px;
            color: palevioletred;
        }
    
        .fa-tiktok{
            font-size: 50px;
            color: black;
        }
    
        .fa-linkedin{
            font-size: 50px;
            color: navy;
        }
    
        .fa-discord{
            font-size: 50px;
            color: darkslateblue;
        }
    
        .fa-github{
            font-size: 50px;
    
        }
    
        .fa-envelope{
            font-size: 50px;
            color: crimson;
        }
    
        .fa-whatsapp{
            font-size: 50px;
            color: green;
        }

        .fa-snapchat{
            font-size: 50px;
            color: yellow;
        }
        
        main div{
            border: 5px Solid black;
        }
        main{
                display: grid;
                grid-template-columns: repeat(5, 2fr);
                grid-template-rows: repeat(4, 200px);
                grid-template-areas: 
                "a1 a1 a1 a1"
                "c5 c3 c6 d4"
                "e5 b2 f9 h1";
            }
    
            main div:nth-of-type(1){
                grid-area: a1;
            }
            main div:nth-of-type(2){
                grid-area: b2;
            }
            main div:nth-of-type(3){
                grid-area: c3;
            }
            main div:nth-of-type(4){
                grid-area: c5;
            }
            main div:nth-of-type(5)
            {
                grid-area: c6;
            }
            main div:nth-of-type(6)
            {
                grid-area: d4;
            }
            main div:nth-of-type(7)
            {
                grid-area: e5;
            }
            main div:nth-of-type(8)
            {
                grid-area: f9;
            }
            main div:nth-of-type(9){
                grid-area: h1;
            }
    
            .footerwrap{
                background: yellowgreen;
                padding: 5px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-radius: 10px;
                box-shadow: 0px 0px 10px #000;
                -moz-box-shadow: 0px 0px 10px #000;
                -webkit-box-shadow: 0px 0px 10px #000;
            }

            .name{
                border-radius: 40px;
            }

            .email{
                border-radius: 40px;
            }

            .name :hover{
                border-color: blue;
            }

        